@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
}

h1 {
    font-size: 50px;
}

.search {
    --input-line: #cccccc;
    --input-text-color: #808080;
    --input-text-hover-color: transparent;
    --input-border-color: #808080;
    --input-border-hover-color: #999999;
    --input-bg-color: #333333;
    --search-max-width: 450px;
    --search-min-width: 350px;
    --border-radius: 5px;
    --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
    margin: 50px;
}

.search-box {
    max-width: var(--search-max-width);
    min-width: var(--search-min-width);
    height: 35px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 5px 15px;
    background: var(--input-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: var(--transition-cubic-bezier);
}

.search-box:hover {
    border-color: var(--input-border-hover-color);
}

/* Filter Dropdown Styling */
.filter select {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
}

/* Comment Box Styling */
textarea#commentInput {
    width: 100%;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.search-field {
    position: relative;
    width: 100%;
    height: 100%;
    left: -5px;
    border: 0;
}

.input {
    width: calc(100% - 29px);
    height: 100%;
    border: 0;
    border-color: transparent;
    font-size: 1rem;
    padding-right: 0px;
    color: var(--input-line);
    background: var(--input-bg-color);
    border-right: 2px solid var(--input-border-color);
    outline: none;
}

.input::-webkit-input-placeholder {
    color: var(--input-text-color);
}

.input::-moz-input-placeholder {
    color: var(--input-text-color);
}

.input::-ms-input-placeholder {
    color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
    color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
    color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
    color: var(--input-text-hover-color);
}

.search-box-icon {
    width: 52px;
    height: 35px;
    position: absolute;
    top: -1px;
    right: -21px;
    background: transparent;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
    background: var(--input-border-color);
}

.btn-icon-content {
    width: 52px;
    height: 35px;
    top: -6px;
    right: -21px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition: var(--transition-cubic-bezier);
    opacity: .4;
}

.btn-icon-content:hover {
    opacity: .8;
}

.search-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 15px;
}

#results {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#results li {
    list-style: none;
    margin: 10px;
    width: 350px;
}

.recipe-item {
    list-style: none;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
}

.recipe-image {
    text-align: center; /* Center-aligns the image */
    padding: 10px;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-details {
    padding: 20px;
}

.recipe-ingredients,
.recipe-instructions {
    margin-top: 10px;
}

.recipe-ingredients ul {
    padding-left: 20px; /* Add padding to the left of the ingredient list */
}

.recipe-actions {
    text-align: center;
    margin-top: 10px;
}

.recipe-actions button {
    background-color: #ff4757; /* Red color for the favorite button */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recipe-actions button:hover {
    background-color: #e84118; /* Darker red on hover */
}

/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Submit Comment Button Styling */
button {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333; /* Slightly lighter black on hover */
}
